<h2>Sign Up</h2>

<form action="/signup" method="post" id="signupform">
  <label for="new_username">New Username</label>
  <input type="text" id="new_username" name="new_username" />

  <label for="new_password">New Password</label>
  <input type="password" id="new_password" name="new_password" />

  <label for="new_password_again">Confirm New Password</label>
  <input type="password" id="new_password_again" name="new_password_again" />

  <label for="email">Email (optional)</label>
  <input type="text" id="email" name="email" />

  <button type="submit">Sign up</button>
</form>
