You haven't dogeared this content yet. Wanna start now?
<form id="create-dogear">
  <label>Current location of dogear</label>
  <p class="disabled">{{url}}</p>
  <input name="current" type="hidden" value="{{url}}" />

  <label for="prefix">URL prefix</label>
  <p class="help">Whenever you dogear something, Eardogger uses this prefix to figure out which bookmark it should move.</p>
  <input name="prefix" type="text" autofocus maxlength="100" />

  <label for="display_name">Name (optional)</label>
  <input name="display_name" type="text" maxlength="200" />

  <button type="submit" id="submit-dogear">Create new dogear</button>
</form>
