<form id="create-dogear">
  <input name="prefix" type="text" maxlength="100" placeholder="Prefix" aria-label="URL prefix for this serial" />
  <input name="current" type="text" maxlength="200" placeholder="Current URL" aria-label="Current URL for bookmark" />
  <input name="display_name" type="text" maxlength="200" placeholder="Name (optional)" aria-label="Display name (optional)">
  <button type="submit" id="submit-dogear">Create new dogear</button>
</form>
