<h2 id="what-is">What's Eardogger?</h2>

<p>Eardogger is a bookmarking service for long webcomics and web-books.</p>

<p>There's lots of ways to bookmark a web page, but this one is weird because it's designed for <em>reading</em> (instead of <em>remembering</em> or <em>researching</em>):</p>

<ul>
  <li><strong>Only one bookmark per site.</strong> A marked page is just a temporary resting point in a larger work; when you read further and save your place again, Eardogger moves your old bookmark. In other words, it does "yesterday's bus ticket" bookmarks, not "six colors of sticky note" bookmarks.</li>
  <li><strong>Available everywhere.</strong> Pause your reading on one device, resume wherever.</li>
  <li><strong>Incredibly lazy.</strong> Pause or resume with one click on sites you've bookmarked before.</li>
  <li><strong>Calls bookmarks "dogears"??</strong> I liked how sloppy and disreputable it sounded. 🐶</li>
</ul>

<h2 id="how-to">How to Use Eardogger</h2>

<ol>
  <li>Sign up for a free account.</li>
  <li><a href="/install">Install the "Mark my spot" and "Where was I" bookmarklets</a> on all your devices and browsers.</li>
  <li>To pause whatever you're reading, click "Mark my spot."
    <ul>
      <li>If you've dogeared that site before, that's it! The dogear now marks your new position.</li>
      <li>If this is a new site, Eardogger asks you for the site's name and makes a new dogear. (You can also adjust the URL prefix, for sites that share a domain with several other sites.)</li>
    </ul>
  </li>
  <li>To resume reading a site from where you paused it, use the list of dogears on the <a href="/">Eardogger homepage</a>.
    <ul>
      <li>Or, if you're already on that site, click "Where was I." (Good for when you left a tab open but then read further on another device.)</li>
    </ul>
  </li>
</ol>

<h2 id="news">News</h2>

<h3>September 20, 2021</h3>

<p>Hey, has anyone else noticed that the "mark my spot" bookmarklet was acting really slow on recent versions of Safari? Like, navigating away from your page and back instead of just popping up a little "saving... done" banner?</p>

<p><em>Well.</em> Turns out this was because of tracking protection! My lil bookmarklet was sending a request in the background that included your Eardogger login cookie, and it was doing so from any number of other sites (i.e. whatever stuff you're trying to mark your spot in), and to a web browser, that looks exactly like an ad-tech company spying on you across the internet.</p>

<p>I figured that out some time ago, but only recently figured out how to work around it. That workaround is live now! If you go to the <a href="/install">install page</a> and re-generate your "mark my spot" bookmarklet, you'll get to experience the nice fast version of dogearing, no matter how privacy-conscious your browser is.</p>

<h2 id="faq">FAQ</h2>

<h3>Have any questions been frequently asked yet?</h3>

<p>Noootttttt really. I guess just text or @ me if you've got something.</p>

<h3>Can I save my place halfway through a page, or do I have to start at the top of a page?</h3>

<p>If there are clickable "anchors" within a long page, you can save your spot at one of those; you just need to click it before you save, so that the anchor is included in the URL that gets sent to Eardogger.</p>

<p><a href="https://doc.rust-lang.org/stable/book/ch00-00-introduction.html">The Rust book</a> does this, if you want to see an example; all the headers are clickable anchors.</p>

<h3>Is this ~social~?</h3>

<p>This is absolutely not ~social~. 🌻 I endorse texting your besties about what you're reading and/or avidly blogging that shit, but this website's highest ambition is to be a  💾 ｗｅｂ　ｓｃａｌｅ💽 version of the disintegrating receipt that's been marking your spot in <em>Ancillary Justice.</em></p>

<h3>What is "elegance through stupidity?"</h3>

<p>A nebulous design quality that I admire and aspire to.</p>
