      <p class="bold">Add Dogears:</p>

      <form id="create-dogear">
        <input name="prefix" type="text" maxlength="100" placeholder="Prefix" aria-label="URL prefix for this serial" />
        <input name="current" type="text" maxlength="200" placeholder="Current URL" aria-label="Current URL for bookmark" />
        <input name="display_name" type="text" maxlength="200" placeholder="Name (optional)" aria-label="Display name (optional)">
        <button type="submit" id="submit-dogear">Create new dogear</button>
      </form>

      <p class="bold">Update Dogears:</p>

      <form id="update-dogear">
        <input name="current" type="text" maxlength="200" placeholder="Current URL" aria-labelledby="update-dogear" />
        <button type="submit" id="update-dogear">Update existing dogear</button>
      </form>

      <section class="dogears">
        <ul id="dogears"></ul>
      </section>

      <h5>
        Updater bookmarklet
      </h5>
      <p>
        (Right now, this can only update existing dogears. It can't create new ones yet.)
      </p>
      <textarea rows="3" cols="15">javascript:(()=>{var u=new XMLHttpRequest();u.open('post', 'https://eardogger.glitch.me/api/v1/update');u.setRequestHeader("Content-Type", "application/json");u.send(JSON.stringify({current: document.location.href}));})();</textarea>
