{{> dogears dogears=dogears pagination=pagination}}

<h2>Manual mode</h2>

<p>This was mostly for debugging, but you can still use it.</p>

<h3>Dogear a page</h3>

<form id="update-dogear">
  <label for="current">URL:</label>
  <input name="current" type="text" maxlength="300" />
  <button type="submit" id="update-dogear">Mark my place</button>
</form>
