      <p class="bold">Add Dogears:</p>

      <form id="create-dogear">
        <input name="prefix" type="text" maxlength="100" placeholder="Prefix" aria-label="URL prefix for this serial" />
        <input name="current" type="text" maxlength="200" placeholder="Current URL" aria-label="Current URL for bookmark" />
        <input name="display_name" type="text" maxlength="200" placeholder="Name (optional)" aria-label="Display name (optional)">
        <button type="submit" id="submit-dogear">Create new dogear</button>
      </form>

      <p class="bold">Update Dogears:</p>

      <form id="update-dogear">
        <input name="current" type="text" maxlength="200" placeholder="Current URL" aria-labelledby="update-dogear" />
        <button type="submit" id="update-dogear">Update existing dogear</button>
      </form>

      <section class="dogears">
        <ul id="dogears"></ul>
      </section>

      <h5>
        "Mark my spot" bookmarklet
      </h5>
      <textarea rows="3" cols="20">javascript:(()%20=>%20{let%20d%20=%20document;let%20e%20=%20%27https://eardogger.glitch.me%27;let%20s%20=%20{position:%27fixed%27,width:%27300px%27,top:%27100px%27,left:%27calc(50%25%20-%20150px)%27,padding:%2710px%27,boxShadow:%270%200%2020px%20black%27,border:%272px%20solid%20black%27,background:%27white%27,color:%27black%27,zIndex:%2740000%27};let%20msg%20=%20(txt,%20auto)%20=>%20{let%20m%20=%20d.createElement(%27div%27);Object.assign(m.style,%20s);m.onclick%20=%20function(e){this.remove();};m.innerHTML%20=%20txt;d.body.append(m);if%20(auto)%20{window.setTimeout(()=>{m.remove()},%203000);}};let%20go%20=%20()%20=>%20{d.location.href%20=%20e%20+%20%27/mark/%27%20+%20encodeURIComponent(document.location.href);};if%20(fetch)%20{fetch(e%20+%20%27/api/v1/update%27,%20{method:%27POST%27,mode:%27cors%27,credentials:%27include%27,headers:{%27Content-Type%27:%27application/json%27,%27Accept%27:%27application/json%27},body:JSON.stringify({current:%20d.location.href})}).then(rs=>{if%20(rs.ok)%20{msg(%27Bookmark%20updated%27,%20true);}%20else%20if%20(rs.status%20===%20400)%20{rs.json().then(data=>{msg(data.error);});}%20else%20{go();}}).catch(err=>{go();});}%20else%20{go();}})();</textarea>

      <h5>
        "Where was I" bookmarklet
      </h5>
      <textarea rows="3" cols="20">javascript:(()%20=>%20{let%20l%20=%20document.location;l.href%20=%20%27https://eardogger.glitch.me/resume/%27%20+%20encodeURIComponent(l.href);})();</textarea>
