      <section class="dogears">
        <ul id="dogears"></ul>
      </section>

      <h2>Manual mode, I guess</h2>

      <p>This is basically some leftover debugging stuff, idk if I'll keep it around. Feel free to use it for now, lmk if it does anything useful for you, but the bookmarklets are the real show.</p>

      <h3>Add Dogears:</h3>

      <form id="create-dogear">
        <input name="prefix" type="text" maxlength="100" placeholder="Prefix" aria-label="URL prefix for this serial" />
        <input name="current" type="text" maxlength="200" placeholder="Current URL" aria-label="Current URL for bookmark" />
        <input name="display_name" type="text" maxlength="200" placeholder="Name (optional)" aria-label="Display name (optional)">
        <button type="submit" id="submit-dogear">Create new dogear</button>
      </form>

      <h3>Update Dogears:</h3>

      <form id="update-dogear">
        <input name="current" type="text" maxlength="200" placeholder="Current URL" aria-labelledby="update-dogear" />
        <button type="submit" id="update-dogear">Update existing dogear</button>
      </form>

