<p>Here's how to use Eardogger:</p>

<ol>
  <li>Install the "Mark my spot" and "Where was I" bookmarklets, and bookmark the homepage.</li>
  <li>To pause the webcomic or serial you're reading, click "Mark my spot."</li>
  <li>To resume reading from where you paused, either:
    <ul>
      <li>Use the links on the <a href="/">Eardogger homepage</a>.</li>
      <li>Go directly to the serial you were reading and click "Where was I."</li>
    </ul>
  </li>
</ol>

<h2>Here's Those Bookmarklets</h2>

<div class="columns">
  <div>
    <h3>
      <a href="{{mark}}">Mark my spot</a>
    </h3>
    <textarea rows="3" cols="20">{{mark}}</textarea>
  </div>

  <div>
    <h3>
      <a href="{{where}}">Where was I</a>
    </h3>
    <textarea rows="3" cols="20">{{where}}</textarea>
  </div>
</div>

<h2>How to Install</h2>

<p>Bookmarklets are an antique tool for doing hacky shit on the web. Inelegant, yet powerful, like the mighty cassowary.</p>

<p>The way you install them depends on your browser; basically, just do whatever it takes to get that long nasty <code>javascript:(()...etc</code> URL into the "location" field of a bookmark. Some notable approaches:</p>

<h3>In Most Desktop Browsers</h3>

<p>You usually want these on the toolbar so they're easily accessible, but you could also put them in the menu.</p>

<ol>
<li>Either go into the "view" menu and make sure the "bookmark toolbar" is visible, or open your browser's bookmark manager.</li>
<li>Drag the links below and drop them where you want them.</li>
</ol>

<h3>On iOS Safari</h3>

<p>You usually want these at the top of the "favorites" section of your bookmarks, so you can tap on the URL bar and then choose them from the set of big tiles. To install each bookmarklet:</p>

<ol>
<li>First, use the share menu to bookmark some random page, like this one. Put it in the "favorites" section.</li>
<li>Next, copy the <code>javascript:</code> URL to the clipboard. It won't let you copy the links, so you gotta select-all in the textarea.</li>
<li>Open your bookmarks and tap the "edit" button.</li>
<li>Tap the bookmark you just made. Rename it, and replace the current URL with the <code>javascript:</code> URL.</li>
</ol>
