<h2 id="install">Install the Eardogger Bookmarklet(s)</h2>

<p>Eardogger relies on a <strong>bookmarklet,</strong> which needs to be installed in your web browser.</p>

<p>Bookmarklets are like simple browser extensions: when you activate them, they perform an action on whatever page you're currently viewing.</p>

<p>Once you install Eardogger's "🐶 Mark my spot" bookmarklet, you can activate it on any site to save your place. It works on both mobile and desktop.</p>

<nav class="tabs">
  <a href="#" id="tab-desktop-instructions" data-show="desktop" class="active">Desktop</a>
  <a href="#" id="tab-ios-instructions" data-show="ios">iOS</a>
  <a href="#" id="tab-android-instructions" data-show="android">Android</a>
</nav>

<section class="tabbed-instructions" data-show="desktop">
  <h2 class="only desktop">Desktop Instructions</h2>
  <h2 class="only ios">iOS Instructions (Safari)</h2>
  <h2 class="only android">Android Instructions (Chrome)</h2>

  <p class="only ios">First, use the share menu to add a new bookmark for <em>this install page.</em> Put it in the "Favorites" folder, and change its name to "🐶 Mark my spot".</p>

  <p class="only android">First, open Chrome's "…" menu and tap the star to add a new bookmark for <em>this install page.</em> Change its name to "🐶 Mark my spot".</p>

  <p>
    <span class="only desktop">First,</span>
    <span class="only ios android">Next,</span>
    click the button below to generate a personal bookmarklet. This bookmarklet contains a unique access token that lets it update your dogears.
  </p>

  <aside>If you previously generated some bookmarklets that you aren't using anymore, you can revoke their tokens; click your username at the top of the site to go to your account page, and look for tokens that haven't been used in a long time.</aside>

  <div id="generate-personal-bookmarklet-fragment">
    <button id="generate-personal-bookmarklet" type="button">Generate personal bookmarklet</button>

    <p class="only desktop unready">Next, bookmark the link that will appear below! You can drag and drop it onto your bookmarks toolbar, or right-click it and select "bookmark."</p>

    <p class="only ios android unready">Next, copy the big fugly URL that will appear below to your clipboard:</p>

    <p class="only ios unready">Finally, open your bookmarks and tap "edit". Find the bookmark you made earlier, and replace its URL with the URL you just copied.</p>

    <p class="only android unready">Finally, open your bookmarks and find the bookmark you made earlier. Edit it, and replace its URL with the URL you just copied.</p>
  </div>

  <h3>You're Ready to Go!</h3>

  <p class="only desktop">To save your place on a site, just click the "🐶 Mark my spot" bookmarklet.</p>

  <p class="only ios">To save your place on a site:</p>

  <ul class="only ios">
    <li>Tap the URL bar to reveal your "Favorites" bookmarks.</li>
    <li>Tap the icon for "🐶 Mark my spot".</li>
  </ul>

  <p class="only ios">If you chose to put the bookmarklet somewhere other than "Favorites", you can activate it from the main bookmarks list instead.</p>

  <p class="only ios">If you use a browser other than Safari, the steps to install and use the bookmarklet will be a little different, but most iOS browsers seem to require the same pattern of "bookmark a random page, then replace the URL later" when installing bookmarklets.</p>

  <p class="only android">To save your place on a site:</p>

  <ul class="only android">
    <li>Tap the location bar.</li>
    <li>Start typing the words "Mark my spot", until the "🐶 Mark my spot" bookmarklet appears in the list of suggestions.</li>
    <li>Tap the suggestion for "🐶 Mark my spot".</li>
  </ul>

  <p class="only android">That's a bit strange, but for some reason Chrome doesn't let you activate bookmarklets by tapping them in the main bookmarks list; only location bar suggestions will work. Optionally, you can rename your bookmarklet to use a unique abbreviation, so you don't have to type as much to make it appear.</p>

  <p class="only android">If you use a browser other than Chrome, the steps to install and use the bookmarklet will be a little different. I'm not an expert in Android browsers, but you can probably find decent instructions on your own.</p>

  <h3>One last thing</h3>

  <p>Eardogger also supports an optional bookmarklet called "🐶 Where was I?". When you activate it on a site that you've previously dogeared, it jumps directly to your saved location. Just saves a tiny bit of time if you left a tab open but then read further on your phone.</p>

  <p>
    You can install it the same way as the main bookmarklet; just follow the previous instructions, but use
    <span class="only desktop">the link below</span>
    <span class="only ios android">the URL below</span>
    instead of the personal bookmarklet you generated above.
  </p>

  {{> bookmarklet
    bookmarklet=where
    name="Where was I?"
    id="where"
  }}
</section>
