<h2>What's Eardogger?</h2>

<p>Eardogger marks your spot in books and comics that live on the web. You know how Kindle remembers your place if you switch from your e-reader to your phone? Like that, but for the regular internet.</p>

<p>When you mark a page, Eardogger checks which <em>site</em> it belongs to; if it's one you were already reading, it just updates your existing mark. That means you can usually save your place with one click, which is real nice on long works that take a dozen sittings to get through.</p>

<h2>How to Use Eardogger</h2>

<ol>
  <li>On all your devices and browsers, install the "Mark my spot" and "Where was I" bookmarklets.</li>
  <li>To pause what you're reading, click "Mark my spot."
    <ul>
      <li>If it's a site you've dogeared before, that's it! The dogear now marks your new position.</li>
      <li>If it's a new site, it'll ask you for a name and then create a new dogear. (You can also adjust the URL prefix, for sites that share a domain with several other sites.)</li>
    </ul>
  </li>
  <li>To resume reading a site from where you paused it, use the list of dogears on the <a href="/">Eardogger homepage</a>.
    <ul>
      <li>Or, if you're already on that site, click "Where was I." (Useful when you left a tab open but then read further on another device.)</li>
    </ul>
  </li>
</ol>

<h2>How to Install the Bookmarklets</h2>

<p>Bookmarklets are like browser extensions, but more primitive. Behold:</p>

<div class="columns">
  <div>
    <h3>
      <a href="{{mark}}">Mark my spot</a>
    </h3>
    <textarea rows="3" cols="20" spellcheck="false">{{mark}}</textarea>
  </div>

  <div>
    <h3>
      <a href="{{where}}">Where was I</a>
    </h3>
    <textarea rows="3" cols="20" spellcheck="false">{{where}}</textarea>
  </div>
</div>

<p>Installation depends on your browser; basically, do whatever it takes to create a bookmark whose "location" field is that long nasty <code>javascript:</code> URL. Some notable approaches:</p>

<h3>In Most Desktop Browsers</h3>

<p>You usually want these on the toolbar so they're easily accessible, but you could also put them in the menu.</p>

<ol>
<li>Go into the "view" menu and make sure the "bookmark toolbar" is visible, or else open your browser's bookmark manager.</li>
<li>Drag the bookmarklet links and drop them where you want them.</li>
</ol>

<h3>On iOS Safari</h3>

<p>You usually want these at the top of the "favorites" section of your bookmarks. That way, you can activate them by tapping on the URL bar and then choosing from the set of big tiles. To install each bookmarklet:</p>

<ol>
<li>First, use the share menu to bookmark some random page, like this one. Put it in the "favorites" section.</li>
<li>Copy the <code>javascript:</code> URL to the clipboard. (On iOS ≥ 13 you can tap-and-hold the links; on iOS ≤ 12 you have to copy from the textarea.)</li>
<li>Open your bookmarks and tap the "edit" button.</li>
<li>Tap the bookmark you just made. Rename it, and replace the current URL with the <code>javascript:</code> URL.</li>
</ol>
