<p>Ok, here's how to use Eardogger.</p>

<ol>
  <li>Install the "Mark my spot" and "Where was I" bookmarklets, and bookmark the homepage.</li>
  <li>When you're reading a webcomic or serial and want to take a break, click the "Mark my spot" bookmarklet.
    <ul>
      <li>If you already had a dogear for that serial, Eardogger will just move it to your new spot.</li>
      <li>If it's a new serial, Eardogger will ask for a URL prefix (and an optional name) so it can recognize it next time.</li>
    </ul>
  </li>
  <li>To resume reading where you stopped, either:
    <ul>
      <li>Go to the <a href="/">Eardogger homepage</a> and choose a serial from your list.</li>
      <li>Go directly to the serial you were reading and click the "Where was I" bookmarklet.</li>
    </ul>
  </li>
</ol>

<h2>Installing the Bookmarklets</h2>

<p>Bookmarklets are an antique tool for doing hacky shit on the web. Inelegant, yet powerful, like the mighty cassowary.</p>

<p>Right now, you need these bookmarklets to use Eardogger. I figure eventually I'll make a browser extension, because obviously that's better, but in the meantime this works.</p>

<p>Installing bookmarklets varies from browser to browser; basically, you just do whatever it takes to get that long nasty <code>javascript:(()...etc</code> URL into the "location" field of a bookmark. Some notable approaches:</p>

<h3>In Most Desktop Browsers</h3>

<p>You usually want these on the toolbar so they're easily accessible, but you could also put them in the menu.</p>

<ol>
<li>Either go into the "view" menu and make sure the "bookmark toolbar" is visible, or open your browser's bookmark manager.</li>
<li>Drag the links below and drop them where you want them.</li>
</ol>

<h3>On iOS Safari</h3>

<p>You usually want these at the top of the "favorites" section of your bookmarks, so you can tap on the URL bar and then choose them from the set of big tiles. To install each bookmarklet:</p>

<ol>
<li>First, use the share menu to bookmark some random page, like this one. Put it in the "favorites" section.</li>
<li>Next, copy the <code>javascript:</code> URL to the clipboard, either by tapping and holding the link or by selecting-all in the big text field.</li>
<li>Open your bookmarks and tap the "edit" button.</li>
<li>Tap the bookmark you just made. Rename it, and replace the current URL with the <code>javascript:</code> URL.</li>
</ol>

<h3>Anyway Here's the Bookmarklets</h3>

<h4>
  <a href="javascript:(()%20=&gt;%20{let%20d%20=%20document;let%20e%20=%20%27https://eardogger.com%27;let%20s%20=%20{position:%27fixed%27,width:%27300px%27,top:%27100px%27,left:%27calc(50%25%20-%20150px)%27,padding:%2710px%27,boxShadow:%270%200%2020px%20black%27,border:%272px%20solid%20black%27,background:%27white%27,color:%27black%27,zIndex:%2740000%27};let%20msg%20=%20(txt,%20auto)%20=&gt;%20{let%20m%20=%20d.createElement(%27div%27);Object.assign(m.style,%20s);m.onclick%20=%20function(e){this.remove();};m.innerHTML%20=%20txt;d.body.append(m);if%20(auto)%20{window.setTimeout(()=&gt;{m.remove()},%203000);}};let%20go%20=%20()%20=&gt;%20{d.location.href%20=%20e%20+%20%27/mark/%27%20+%20encodeURIComponent(document.location.href);};if%20(fetch)%20{fetch(e%20+%20%27/api/v1/update%27,%20{method:%27POST%27,mode:%27cors%27,credentials:%27include%27,headers:{%27Content-Type%27:%27application/json%27,%27Accept%27:%27application/json%27},body:JSON.stringify({current:%20d.location.href})}).then(rs=&gt;{if%20(rs.ok)%20{msg(%27Bookmark%20updated%27,%20true);}%20else%20if%20(rs.status%20===%20400)%20{rs.json().then(data=&gt;{msg(data.error);});}%20else%20{go();}}).catch(err=&gt;{go();});}%20else%20{go();}})();">Mark my spot</a>
</h4>
<textarea rows="3" cols="20">javascript:(()%20=&gt;%20{let%20d%20=%20document;let%20e%20=%20%27https://eardogger.com%27;let%20s%20=%20{position:%27fixed%27,width:%27300px%27,top:%27100px%27,left:%27calc(50%25%20-%20150px)%27,padding:%2710px%27,boxShadow:%270%200%2020px%20black%27,border:%272px%20solid%20black%27,background:%27white%27,color:%27black%27,zIndex:%2740000%27};let%20msg%20=%20(txt,%20auto)%20=&gt;%20{let%20m%20=%20d.createElement(%27div%27);Object.assign(m.style,%20s);m.onclick%20=%20function(e){this.remove();};m.innerHTML%20=%20txt;d.body.append(m);if%20(auto)%20{window.setTimeout(()=&gt;{m.remove()},%203000);}};let%20go%20=%20()%20=&gt;%20{d.location.href%20=%20e%20+%20%27/mark/%27%20+%20encodeURIComponent(document.location.href);};if%20(fetch)%20{fetch(e%20+%20%27/api/v1/update%27,%20{method:%27POST%27,mode:%27cors%27,credentials:%27include%27,headers:{%27Content-Type%27:%27application/json%27,%27Accept%27:%27application/json%27},body:JSON.stringify({current:%20d.location.href})}).then(rs=&gt;{if%20(rs.ok)%20{msg(%27Bookmark%20updated%27,%20true);}%20else%20if%20(rs.status%20===%20400)%20{rs.json().then(data=&gt;{msg(data.error);});}%20else%20{go();}}).catch(err=&gt;{go();});}%20else%20{go();}})();</textarea>

<h4>
  <a href="javascript:(()%20=&gt;%20{let%20l%20=%20document.location;l.href%20=%20%27https://eardogger.com/resume/%27%20+%20encodeURIComponent(l.href);})();">Where was I</a>
</h4>
<textarea rows="3" cols="20">javascript:(()%20=&gt;%20{let%20l%20=%20document.location;l.href%20=%20%27https://eardogger.com/resume/%27%20+%20encodeURIComponent(l.href);})();</textarea>

