<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" />

  <button type="submit">Log in</button>
</form>

<h2>Or, Sign Up</h2>

<form action="/signup" method="post" id="signupform">
  <label for="new_username">New username (can use letters, numbers, -, and _)</label>
  <input type="text" id="new_username" name="new_username" />

  <label for="new_password">New password</label>
  <input type="password" id="new_password" name="new_password" />

  <label for="new_password_again">Confirm new password</label>
  <input type="password" id="new_password_again" name="new_password_again" />

  <label for="email">Email (optional)</label> <button type="button" class="help-reveal" data-help-target="help-email">?</button>
  <p id="help-email" class="help help-hidden">I don't actually want your email, tbh. But if you include it, I can help recover your password if you lose it. I might also send out warnings for downtime or major changes.</p>
  <input type="text" id="email" name="email" />

  <button type="submit">Sign up</button>
</form>


<h2>What's Eardogger?</h2>

<p>Eardogger lets you dogear <strong>serialized stuff</strong> on the web. Pick up where you left off, read a little further, and save your new place with one click.</p>
