<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" />

  <button type="submit">Log in</button>
</form>

<h2>What's Eardogger?</h2>

<p>Eardogger lets you dogear <strong>serialized stuff</strong> on the web. Pick up where you left off, read a little further, and save your new place with one click.</p>
