<section id="mark-success">
  <p>Saved your place in:</p>

  <p>
    {{#each updatedDogears}}
      <span class="serial-name">{{#if this.display_name}}{{this.display_name}}{{else}}{{this.prefix}}{{/if}}</span>{{#unless @last}}, {{/unless}}
    {{/each}}
  </p>

  <p>Returning to site in:</p>

  <div id="countdown" data-returnto="{{url}}"></div>
</section>
