/* Leftover default glitch styles */

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

/* Global styles */

* {
  box-sizing: border-box;
}

body {
  --color-disabled: #888;
  --color-danger: #f99;
  --font-standard: "Futura", "Helvetica Neue", helvetica, arial, sans-serif;
  --font-ui: system-ui, sans-serif;
  margin: 2em;
  font-family: var(--font-standard);
  background-color: #FFF8EB;
}

main {
  max-width: 600px;
}

button {
  font-size: 16px;
  font-family: var(--font-standard);
  border-radius: 3px;
  background-color: #e5e0ff;
  border: 1px solid grey;
  cursor: pointer;
}

input, .mock-input, textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 16px;
}

textarea {
  font-family: var(--font-ui);
  height: auto;
  -webkit-overflow-scrolling: touch;
}

.mock-input {
  font-family: var(--font-ui);
  color: var(--color-disabled);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  color: #265c92;
}

a:visited {
  color: #7244c8;
}

a:hover {
  color: #5452ff;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  border-radius: 7px;
  border: 1px solid;
}

header {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

nav {
  text-align: center;
  margin-bottom: 1em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

form#logout {
  border: none;
  width: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.serial-name { /* on the marked page */
  font-weight: bold;
}

/* Grid for dogear items */

#dogears {
  padding-left: 0;
}

#dogears li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr auto;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

#dogears li * {
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 0;
  max-width: 100%;
}

#dogears a { /* main link */
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  justify-self: self-start; /* no invisible click targets */
}

#dogears .delete-dogear {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: self-start;

  max-width: 6em; /* that's a hack around inability to transition auto values. */
  transition: max-width 1s linear, background-color .5s ease-out;
  white-space: nowrap;
  overflow-x: hidden;
}

#dogears .really-delete-dogear{
  max-width: 16em;
  background-color: var(--color-danger);
}

#dogears .current {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: smaller;
  color: var(--color-disabled);
}

#dogears .date {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  font-size: smaller;
  color: var(--color-disabled);
}


/* Be good on smalls */
@media screen and (max-width: 400px) {
  body {
    margin: 1em;
  }

 #dogears li {
   grid-template-rows: 1fr auto;
 }

 #dogears .current {
  grid-column: 1/4;
  grid-row: 2/3;
 }

 #dogears .date {
  grid-column: 1/4;
  grid-row: 3/4;
 }

}

#countdown {
  font-size: 2em;
  font-weight: bold;
}

.help {
  font-size: smaller;
}

.help-hidden {
  display: none;
}
